<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>ShinyMUD Statistics</title>
  </head>

  <body>
    <div id="ctxtnav" class="nav"></div>

    <div id="content">
		<div id="game_status">
			<span id="server_is_currently">The ShinyMUD server is currently:</span>
			<span><img src="${href.chrome('/hw/images/' + game_status + '.png')}"/>
			<span id="status_text">${game_status}</span></span>
			<div py:if="game_status == 'online'">Last restart: <b>${start_date}</b></div>
		</div>
		<div id="online_content" py:if="game_status == 'online'">
			<div id="current_players">
				<h2>There are ${num_players} player(s) logged into ShinyMUD</h2>
				<ul py:if="names">
					<li py:for="name in names">${name}</li>
				</ul>
			</div>
		</div>
    </div>
  </body>
</html>
